In [1]:
import pandas as pd
import os.path

In [2]:
df=pd.read_csv("testcap.csv")

In [3]:
df

,Folder ID,Document ID,Paragraph ID,Paragraph
0,51,101,1,In this Credit Card Agreement (â€œAgreementâ€...
1,51,101,2,THIS AGREEMENT CONTAINS AN ARBITRATION PROVISI...
2,51,101,3,Definitions. Other defined terms used in this ...
3,51,101,4,3. â€œBilling Cycleâ€ means a monthly billing...
4,51,101,5,6. â€œCash Advanceâ€ means credit you or an A...

In [4]:
df1=df.copy()

In [5]:
df1

,Folder ID,Document ID,Paragraph ID,Paragraph
0,51,101,1,In this Credit Card Agreement (â€œAgreementâ€...
1,51,101,2,THIS AGREEMENT CONTAINS AN ARBITRATION PROVISI...
2,51,101,3,Definitions. Other defined terms used in this ...
3,51,101,4,3. â€œBilling Cycleâ€ means a monthly billing...
4,51,101,5,6. â€œCash Advanceâ€ means credit you or an A...

In [6]:
df1.drop(['Folder ID', 'Document ID', 
                'Paragraph ID'], axis=1, inplace=True)

In [7]:
df1

                                           Paragraph
0  In this Credit Card Agreement (â€œAgreementâ€...
1  THIS AGREEMENT CONTAINS AN ARBITRATION PROVISI...
2  Definitions. Other defined terms used in this ...
3  3. â€œBilling Cycleâ€ means a monthly billing...
4  6. â€œCash Advanceâ€ means credit you or an A...

In [8]:
for i, row in df1.iterrows():
    if i > len(df1):
       break
    else:
       file = open(str(i)+'.txt', 'w',encoding='utf-8')
       file.write(row[0])
       file.close()
       i+=1